

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body{
  margin:0;
 font-family: 'Inter', sans-serif;
}

.greyish{
  color:#6B7280;
}

::-webkit-scrollbar {
    width: 10px;
    border:1px solid black;
  }

header{
    box-sizing: border-box;
    padding:0rem 2rem 0.5rem 2rem;
    width:100%;
    height:fit-content;
    background-color: #000000;
}

nav{
  color:white;
  width:100%;
  height:48px;
  border:1px solid red;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.nav-options{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
  font-weight: 400;
  font-size:16px;
}

.login_signup{
  display:flex;
  gap:1.6rem;
  align-items: center;
  justify-content: space-between;
}

.search-container{
  margin:1rem auto;
  width: 848px;
  height:64px;
  background-color: white;
  border-radius: 1000px;
  box-sizing: border-box;
  padding:8px 8px 8px 32px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.hero_bgImg{
  background-image: url("./assets/airbnb_hero_img.jpg");
  object-fit: cover;
  background-size:100% 800px;
  background-repeat: no-repeat;
  width:100%;
  height:640px;
  margin:auto;
  border:1px solid red;
  background-position: center;
}

.heroImg-text-box{
  margin:31rem auto 0rem auto;
 
  text-align: center;
}

.bgImg-text{
  font-weight: 500;
  font-size:48px;
  
  color:white;
}

